.container {
    display: flex;
    justify-content: space-between;
  }
  .button{
    width: 100px;
    border: none;
    padding: 16px;
    background-color: crimson;
    color: white;
    cursor: pointer;
  }
  .button:disabled{
    border-color: rgba(220, 20, 60, 0.473);
    cursor: not-allowed;
  }
  @media screen and (max-width: 1280px) {

  }
  @media screen and (max-width: 1024px) {

  }
  @media screen and (max-width: 768px) {

  }
  @media screen and (max-width: 640px) {

  }