.container {
    background-color: var(--bg);
}

.content {
    display: flex;
    gap: 50;
    flex: 2;
}

.title {
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
}